$border-width: 1px;

.timeline {
	&_item {
		display: grid;
		grid-template-columns: 1fr 1fr;
		margin-top: var(--mantine-spacing-xl);

		@media screen and (max-width: 600px) {
			text-align: left;
		}

		&_content {
			position: relative;

			@media screen and (max-width: 600px) {
				text-align: left;
			}

			li {
				list-style-position: inside;

				@media screen and (max-width: 600px) {
					text-align: left;
				}
			}

			&::before {
				content: '';
				position: absolute;
				right: 0;
				top: 3px;
				bottom: calc(-1 * var(--mantine-spacing-xl) - 3px);
				border-right: $border-width dashed var(--mantine-color-brand-6);

				@media screen and (max-width: 600px) {
					text-align: left;
				}
			}

			&[data-line-active] {
				&::before {
					border-right-style: solid;

					@media screen and (max-width: 600px) {
						text-align: left;
					}
				}
			}

			@media screen and (max-width: 600px) {
				text-align: left;
			}
		}

		&:nth-child(odd) {
			text-align: right;
			@media screen and (max-width: 600px) {
				text-align: left;
			}
		}

		.timeline_item_content {
			padding-right: var(--mantine-spacing-sm);
			@media screen and (max-width: 600px) {
				text-align: left;
			}
		}

		&:nth-child(even) {
			flex-direction: row-reverse;
			@media screen and (max-width: 600px) {
				text-align: left;
			}

			.timeline_item_content {
				padding-left: var(--mantine-spacing-sm);
				@media screen and (max-width: 600px) {
					text-align: left;
				}
			}

			::before {
				left: -$border-width;
				right: auto;

				@media screen and (max-width: 600px) {
					text-align: left;
				}
			}

			.timeline_bullet {
				left: -8px;
				right: auto;

				@media screen and (max-width: 600px) {
					text-align: left;
				}
			}
		}

		&:last-child {
			.timeline_item_content {
				&::before {
					display: none;

					@media screen and (max-width: 600px) {
						text-align: left;
					}
				}
				@media screen and (max-width: 600px) {
					text-align: left;
				}
			}
		}
	}

	&_bullet {
		position: absolute;
		top: 3px;
		right: -8px;
		width: 16px;
		height: 16px;
		border-radius: 50%;
		background-color: var(--mantine-color-brand-0);
		border: 2px solid var(--mantine-color-brand-6);

		@media screen and (max-width: 600px) {
			text-align: left;
		}

		&[data-active] {
			background-color: var(--mantine-color-brand-6);

			@media screen and (max-width: 600px) {
				text-align: left;
			}
		}
	}
	@media screen and (max-width: 600px) {
		text-align: left;
	}
}
