.card {
    display: contents;
    background-image: url("../../public/main.png");
}

.card_content {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;

    font-family: 'Montserrat';
    font-style: normal;
    padding: 1rem;

    text-align: center;
    color: #3474AA;

}

.card__thumb,
.card__content {
    grid-area: 1/-1;
}

.button_login {
    box-sizing: border-box;

    /* Auto layout */

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 8px 16px;
    gap: 10px;

    position: absolute;
    width: 283px;
    height: 57px;
    left: 722px;
    top: 431px;

    background: #FFFFFF;
    /* Brand/600 */

    border: 2px solid #3B82BF;
    /* Drop */

    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.26);
    border-radius: 4px;
}

.text_left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 0px;
    gap: 10px;

    position: absolute;
    width: 402px;
    height: 97px;
    left: 331px;
    top: 677px;

}

.text_right {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 0px;
    gap: 10px;

    position: absolute;
    width: 566px;
    height: 136px;
    left: 830px;
    top: 1003px;

}

.text_left_two {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 0px;
    gap: 10px;

    position: absolute;
    width: 462px;
    height: 97px;
    left: 331px;
    top: 1385px;

}

.contacts {
    position: absolute;
    width: 130px;
    height: 17px;
    left: 799px;
    bottom: 34px;

    /* Paragraph */

    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    /* identical to box height */

    text-align: center;

    color: #000000;
}

.main-img {
    position: absolute;
width: 1920px;
height: 1080px;
left: -96px;
top: -280px;

}

.rate1 {
    position: absolute;
    width: 256px;
    height: 256px;
    left: 1086px;
    top: 598px;

}

.career-grown {
    position: absolute;
    width: 256px;
    height: 256px;
    left: 361px;
    top: 943px;

}

.calendar {
    position: absolute;
    width: 256px;
    height: 256px;
    left: 1086px;
    top: 1296px;

}

.line1 {
    position: absolute;
    width: 416px;
    height: 228px;
    left: 562px;
    top: 783px;

}

.line2 {
    position: absolute;
    width: 284.5px;
    height: 216.5px;
    left: 729px;
    top: 1160.5px;
}